body {
    background: url("../img/memphis-colorful.png");
}

.jumbotron {
    background-color: #f9d4ce; 
}

.btn {
    background-color: #dbe7ce;
    border: #dbe7ce;
    color: gray;
}

a {
    background-color: #dbe7ce;
    border: #dbe7ce;
    color: gray;
    padding: 10px;
}

.card {
    margin: 20px;
}

.card-header {
    background-color: #f9d4ce; 
}

footer {
    background-color: #f9d4ce;
    height: 50px;
    flex: 1;
    margin-top: auto;
}

.modal-title {
    color: gray;
    background-color: #f9d4ce;
}
.modal-body {
    position: relative;
    text-align: center;
    height: 350px;
    color: gray;
}

#newFoundPhoto {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -75px;
    margin-left: -75px;
}